<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">RRTGen RESTful Executive Dashboard (rred)</a>
  is a web app that shows the current status of testing results for test runs with the RRTGen framework.
</p>
