<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the RRTGen RESTful Executive Dashboard at the
  <a href="http://railstutorial.org/help">RRTGen RESTful Executive Dashboard help page</a>.
  To get help on RRTGen, see the
  <a href="http://railstutorial.org/book">RRTGen Tutorial book</a>.
</p>
