<div class="center hero-unit">
  <h1>Welcome to RRED!</h1>

  <h2>
    This is the home page for the
    <br>
      <a href="http://railstutorial.org/">RRTGen RESTful Executive Dashboard</a>
    <br>
    application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Codecraft_logo_light_blueish.png", size: "60x60", alt: "rred"), 'http://rubyonrails.org/' %>
